# Build
.task
build
cmake-build-*
dist

# Node.js
node_modules
package-lock.json

# Generated lint configs
.clang-format
.clang-tidy

# IDEs
.idea
.vscode

# Apple
.DS_Store

# Test
test/clp-ffi-js
test/assets
