BasedOnStyle: "InheritParentConfig"

IncludeCategories:
  # NOTE: A header is grouped by first matching regex
  # Project headers
  - Regex: "^<clp_ffi_js"
    Priority: 4
  # Library headers. Update when adding new libraries.
  # NOTE: clang-format retains leading white-space on a line in violation of the YAML spec.
  - Regex: "<(emscripten|fmt|json|spdlog)"
    Priority: 3
  - Regex: "^<(clp)"
    Priority: 3
  # C system headers
  - Regex: "^<.+\\.h>"
    Priority: 1
  # C++ standard libraries
  - Regex: "^<.+>"
    Priority: 2
